<!DOCTYPE html>
<html>
  <head>
    <title>Lista de quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de quizzes</h1>
    <u>
      <%for (let i= 0; i<quizzes.length; i++) {%>
        <li>
        <p>¿<%=quizzes[i].question%>? <%=quizzes[i].answer%></p>
        </li>
      <% } %>
      </u>
      <a href="/">Volver a Home</a>
  </body>
</html>
